[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
nltk = "*"
torch = "*"
transformers = "*"
scikit-learn = "*"

[dev-packages]
black = "*"
pylint = "*"
rope = "*"
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
